.root {
  --default-color: rgb(192, 180, 180);
  cursor: pointer;
  margin: 0;
  padding: 8px 12px;
  border: 1px solid var(--default-color);
  color: var(--default-color);
  background: transparent;
  font-weight: 400;
  transition: background 400ms;
}