.root {
  --header-height: 60px;
  --main-color: rgb(202, 138, 138);
  --bg-color: rgb(31, 39, 56);
  --base-padding: 20px;
  --base-anim-dur: 0.5s;
  width: 100%;
  min-height: 100%;
  color: var(--main-color);
  background: var(--bg-color);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  color: var(--main-color);
  padding: 0 16px;
}

.header .brand {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.25em;
}

.content {
  position: relative;
  height: calc(100% - var(--header-height));
  color: var(--main-color);
}

.algoMenu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--base-padding);
  padding-top: calc(var(--base-padding) * 4);
  background: rgba(31, 39, 56, 0.95);
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transform: scale(0.85);
  visibility: hidden;
  transition: 
    opacity var(--base-anim-dur) ease-in-out,
    transform calc(var(--base-anim-dur) - 0.1s) ease-in-out,
    visibility calc(var(--base-anim-dur) + 0.1s);
  z-index: 1000
}

.algoMenu.open {
  opacity: 100%;
  visibility: visible;
  transform: scale(1);
}

.algoMenuBtn {
  outline: none;
  border-radius: 50%;
}

.algoMenuFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.algoMenuGroup {
  flex: 0 0 30%;
  margin: 8px 16px;
}

.visualPane {
  position: relative;
  width: 100%;
  height: 600px;
}

.visual {
  width: 100%;
  height: 100%;
}

.category {
  font-size: 1.2rem;
}

.algoName {
  font-size: 3rem;
}

.pseudocode {
  font-size: 1.1rem;
  color: var(--main-color);
  background: rgb(31, 39, 56);
}

.playback {
  width: 400px;
  margin: 16px 0;
}
