@value header-height: 60px;
@value main-color: rgb(202, 138, 138);
@value bg-color: rgb(31, 39, 56);
@value base-padding: 20px;
@value base-anim-dur: 0.5s;

.root {
  width: 100%;
  min-height: 100%;
  color: main-color;
  background: bg-color;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: header-height;
  color: main-color;
  padding: 0 16px;
}

.header .brand {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.25em;
}

.content {
  position: relative;
  height: calc(100% - header-height);
  color: --main-color;
}

.algoMenu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: base-padding;
  padding-top: calc(base-padding * 4);
  background: rgba(31, 39, 56, 0.95);
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transform: scale(0.85);
  visibility: hidden;
  transition: 
    opacity base-anim-dur ease-in-out,
    transform calc(base-anim-dur - 0.1s) ease-in-out,
    visibility calc(base-anim-dur + 0.1s);
  z-index: 1000
}

.algoMenu.open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.algoMenuBtn {
  outline: none;
  border: none;
  border-radius: 50%;
}

.algoMenuFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.algoMenuGroup {
  flex: 0 0 30%;
  margin: 8px 16px;
}

.algoMenuGroupTitle {
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 700;
}

.algoMenuItem {
  cursor: pointer;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.visualPane {
  position: relative;
  width: 100%;
  height: 600px;
}

.visual {
  width: 100%;
  height: 100%;
}

.controlPane {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "info control";
}

.algoInfo {
  grid-area: info;
}

.category {
  font-size: 1.2rem;
}

.algoName {
  font-size: 3rem;
}

.controls {
  grid-area: control;
}

.pseudocode {
  font-size: 1.1rem;
  color: main-color;
  background: rgb(31, 39, 56);
}

.playback {
  width: 80%;
  margin: 16px 0;
}
